@page "/counterpartylist"
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@if (_task.IsCompleted)
{
    <GridComponent T="CounterpartyData" Grid="@_grid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}

@code
    {
    private CGrid<CounterpartyData> _grid;
    private Task _task;

    public static Action<IGridColumnCollection<CounterpartyData>> Columns = c =>
    {
        c.Add(o => o.Description)
        .Titled("Описание")
            .Sortable(true)
            .Filterable(true)
            .SetWidth(220);
        c.Add(o => o.EDRPOU);
        c.Add(o => o.Counterparty);
        c.Add(o => o.Ref);
    };

    protected override async Task OnParametersSetAsync()
    {
        string url = "Counterparty/Get";

        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "1");

        var client = new GridClient<CounterpartyData>(HttpClient, url, query, false, "ordersGrid", Columns).Sortable()
            .Filterable()
            .ClearFiltersButton(true)
            .SetStriped(false)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .Searchable(true, false, false);
        _grid = client.Grid;

        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
}