@page "/exchcheck"
@page "/exchcheck/{EC_ID}/{Mode}"
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using BlazorCookies.Shared
@using BlazorCookies.Models
@using System.Threading.Tasks


@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ICrudDataService<EXCHCHECK> exchcheckService

<p>@mess</p>
<button type='button' class='btn btn-primary' @onclick="ButtonClick">Apple</button>
@if (_task.IsCompleted)
{
    <GridComponent T="EXCHCHECK" @ref="_gridComponent"  Grid="_grid" OnRowClicked="@SelectRow" ></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}

@code
    {
    private CGrid<EXCHCHECK> _grid;
    private GridComponent<EXCHCHECK> _gridComponent;
    private Task _task;
    private object[] _keys;
    private GridMode _mode;
    private string mess="--------------";

    [Parameter]
    public string EC_ID { get; set; }

    [Parameter]
    public string Mode { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CultureInfo.CurrentCulture = new CultureInfo("uk-UA");
        CultureInfo.CurrentUICulture = new CultureInfo("uk-UA");
        var locale = CultureInfo.CurrentCulture;
        //var locale = new CultureInfo("uk-UA");


        string url = NavigationManager.BaseUri + "api/ExchCheck/GetExchCheck";

        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "1");

        var client = new GridClient<EXCHCHECK>(HttpClient, url, query, false, "ExCheck", ColumnCollections.ExchcheckColumns, locale).Sortable()
            .Filterable()
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .Searchable(true, false, false)
            .Crud(true, exchcheckService)
            .Selectable(true)
            .SetHeaderCrudButtons(true)
            .SetCrudButtonLabels("Add", "View", "Edit", "Delete");

        ;
        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    private void SelectRow(object item)
    {
        EXCHCHECK it = (EXCHCHECK)item;
        mess = it.EC_ID.ToString();
        StateHasChanged();
    }

    private void ButtonClick()
    {

        mess = mess;
    }
}